%map{ lang: 'es', context: 'guiado de cables', version: '1' }

    %concept
        %names Guiado y fijado de cables
        %tags cables, electricidad, corriente, guiado, fijado
        %table{ fields: 'tipos' }
            %row Tubos flexibles de fibra de vidrio 
            %row Fundas trenzadas de poliéster
            %row Fundas termorretráctiles
            %row Bases y tacos para bridas 
            %row Cinta helicoidal            

    %concept
        %names Tubo flexible de fibra de vidrio, Macarrón
        %tags cables, electricidad, corriente, tubos, fibra de vidrio
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/tubo_flexible_01.jpg
        %def Son fundas aislantes flexibles.
        %def Se suelen usar en el interior de aparatos electrónicos.
        %def Son trenzas de fibra de vidrio que se utilizan para proteger cables y mangueras.
        %def Son trenzas de fibra de vidrio barnizadas con silicona.        

    %concept
        %names Funda trenzada de poliéster
        %tags cables, electricidad, corriente, fundas, trenzadas, poliéster
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/funda_trenzada_01.jpg
        %def Están formadas por finos hilos de poliéster trenzados.
        %def Se pueden cortar fácilmente con una tijera, calentándola antes para evitar el deshilachado.
        %def Son ideales para partes móviles de dispositivos porque aguantan bien la fricción.

    %concept
        %names Funda termorretráctil, Funda termocontraíble
        %tags cables, electricidad, corriente, fundas, termorretráctiles
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/funda_termorretractil_01.jpg
        %def Son fundas de plástico que se encogen al aplicarles calor.
        %def Se utilizan para cubrir empalmes de cables y conectores.
        %table{ fields: 'tipos' }
            %row Tubos
            %row Manguitos con forma de T o Y

    %concept
        %names Pistola de aire caliente
        %tags herramienta, cables, electricidad, corriente, pistola, aire caliente
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pistola_aire_01.jpg
        %def Son herramientas que se utilizan para aplicar calor a las fundas termorretráctiles.
        %def Se debe mover por toda la longitud de la funda, evitando dejarla en un punto fijo.
        %def Si la funda es pequeña, se puede usar un mechero.

    %concept
        %names Bridas
        %tags cables, electricidad, corriente, bridas
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/brida_01.jpg
        %def Son tiras de plástico con una cabeza en un extremo.
        %def Se utilizan para fijar cables y mangueras, y no suelen ser reutilizables.
        %def Se suelen tensar con la mano o con alicates.
        %table{ fields:'tipos' }
            %row De plástico
            %row De acero inoxidable
            %row De velcro
        %table{ fields:'usos' }
            %row Fijar cables a una pared
            %row Agrupar cables
            %row Sujetar mangueras a un tubo

    %concept
        %names Bases y tacos para bridas
        %tags cables, electricidad, corriente, bases, tacos, bridas
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/base_brida_01.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/taco_brida_01.jpg
        %def Son piezas de plástico con un agujero para pasar una brida.
        %def Se utilizan para fijar bridas a una superficie.
        %def Se pueden atornillar o pegar con adhesivo.
        %table { fields: 'tipo,fijación' }
            %row
                %col Base para bridas
                %col Atornillada
            %row
                %col Taco para bridas
                %col Pegada o atornillada

    %concept
        %names Cinta helicoidal
        %tags cables, electricidad, corriente, cinta, helicoidal
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/cinta_helicoidal_01.jpg
        %def Es una cinta plástica que se enrolla en espiral.
        %def Para usarla no es necesario desconectar los cables que vamos a enrollar.

    %concept 
        %names Identificar el cableado
        %def Consiste en etiquetar en ambos extremos de un cable con un código.
        
    %concept
        %names Sistemas de identificación de cables
        %tags cables, electricidad, corriente, identificación
        %def Es ideal para encontrar de forma rápida cables en un circuito.
        %def Se pueden usar etiquetas adhesivas o bridas con espacio para escribir.
        %def Se suele poner el mismo código al principio y al final, no repitiéndose en otro cable.
        %table{ fields: 'tipos' }
            %row Anillos de plástico numerados
            %row Manguitos transparentes
            %row Manguitos rotulables
            %row Bridas rotulables

