%map{ lang: 'es', context: 'herramientas para cables', version: '1' }

    %concept
        %names Herramientas para cables 
        %tags herramienta, cables, electricidad, corriente, fibra óptica
        %table{ fields: 'tipos' }
            %row Pelacables
            %row Pelamangueras
            %row Peladora eléctrica
            %row Herramientas para cables de fibra óptica

    %concept
        %names Pelacables
        %tags herramienta, cables, electricidad, corriente, pelar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelacables_01.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelacables_02.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelacables_03.png
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelacables_04.jpg
        %def Ideal para pelar cables de forma rápida, limpia y precisa.
        %def Se utilizan para retirar el aislante de los cables.
        %def Podemos ajustar la cantidad de cable a pelar.

    %concept
        %names Peladora eléctrica
        %tags herramienta, cables, electricidad, corriente, pelar, eléctrica
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/peladora_electrica_01.jpg
        %def Especial para pelar cables esmaltados de forma rápida y precisa.
        %def Se utilizan para retirar el esmalte de los cables de forma automática.

    %concept
        %names Pelamangueras
        %tags herramienta, cables, electricidad, corriente, pelar, manguera
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelamangueras_01.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelamangueras_02.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/pelamangueras_03.jpg
        %def Especial para pelar cables multipolares y redondos de gran sección.
        %table{ fields: 'pasos para usarlo' }
            %row Ajustar la cuchilla
            %row Colocar el cable en el cabezal
            %row Girar sobre el cable de 1 a 2 veces

    %concept
        %names Herramientas para cables de fibra óptica
        %tags herramienta, cables, fibra óptica
        %def Son herramientas especiales para cortar, pelar y unir cables de fibra óptica.
        %def Se utilizan para realizar empalmes y conexiones de fibra óptica.
        %table{ fields: 'tipos' }
            %row Cortadora de fibra óptica
            %row Peladora de fibra óptica
            %row Fusionadora de fibra óptica

    %concept
        %names Cortadora de fibra óptica
        %tags herramienta, cables, electricidad, corriente, fibra óptica, cortar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/cortadora_fibra_optica_01.jpg

    %concept
        %names Peladora de fibra óptica
        %tags herramienta, cables, electricidad, corriente, fibra óptica, pelar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/peladora_fibra_optica_01.jpg

    %concept
        %names Fusionadora de fibra óptica
        %tags herramienta, cables, electricidad, corriente, fibra óptica, fusionar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/fusionadora_fibra_optica_01.jpg
