%map{ lang: 'es', context: 'soldadura blanda', version: '1' }

    %concept
        %names Soldadura blanda
        %tags soldadura, cables, electricidad, corriente
        %def Técnica que se utiliza para hacer conexiones eléctricas con carácter definitivo.
        %def Se basa en calentar estaño sobre el punto a soldar.
        %def Se puede usar esta técnica para conectar cables entre sí o conectarlos a una PCB.
        %table{ fields: 'herramientas' }
            %row Estaño
            %row Decapante
            %row Soldador
            %row Soporte de soldador
            %row Desoldador

    %concept
        %names Estaño
        %tags soldadura, cables, electricidad, corriente, estaño
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/estano_01.jpg
        %def Material que se utiliza para hacer soldaduras.
        %def Se funde a baja temperatura y se solidifica rápidamente.
        %def El hilo suele tener un tamaño de 0,8 mm.
        %def Se puede encontrar con núcleo de decapante o resina para facilitar la soldadura.

    %concept
        %names Decapante, Resina de soldar
        %tags soldadura, cables, electricidad, corriente, decapante
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/decapante_01.jpg
        %def Producto que se utiliza para limpiar las superficies a soldar.
        %def Se aplica antes de la soldadura para eliminar la capa de óxido y impurezas.
        %def Puede ser líquido o sólido y suele venir con un pincel para su aplicación.

    %concept
        %names Soldador
        %tags soldadura, cables, electricidad, corriente, soldador
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/soldador_01.png
        %def Herramienta eléctrica que se utiliza para calentar el estaño y hacer la soldadura.
        %def Se compone de un mango aislante, una punta de cobre y un cable conector.
        %def Se puede encontrar con diferentes potencias y tamaños de punta.

    %concept
        %names Soporte de soldador
        %tags soldadura, cables, electricidad, corriente, soporte
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/soporte_soldador_01.jpg
        %def Herramienta auxiliar que se utiliza para sujetar el soldador cuando no se está utilizando.
        %def Se compone de una base metálica y un soporte para el soldador.
        %def Se le suele añadir una esponja para limpiar la punta del soldador.

    %concept
        %names Desoldador
        %tags soldadura, cables, electricidad, corriente, desoldador
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/cableado/images/desoldador_01.jpg
        %def Herramienta que se utiliza para retirar el estaño de una soldadura.
        %def Se compone de una bomba de vacío o succión y un soldador.
        %def Tienen un elemento de succión para absorber el estaño fundido.