%map{ lang: 'es', context: 'alicates', version: '1' }

    %concept
        %names Alicates 
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Herramienta manual que se utiliza para cortar, doblar o sujetar materiales.
        %table{ fields: 'partes' }
            %row Mango
            %row Articulación
            %row Boca

    %concept
        %names Alicates de punta plana
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Su boca es plana y paralela.
        %def Se utilizan para sujetar piezas pequeñas.

    %concept
        %names Alicates de punta redonda
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Su boca es redonda.
        %def Se utilizan para doblar alambres.

    %concept
        %names Alicates extensibles, Alicates pico de loro
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Su boca se puede ajustar a diferentes medidas.
        %def Se utilizan para sujetar piezas de diferentes tamaños.
        %def Son últiles para apretar tornillos y tuercas de gran tamaño.

    %concept
        %names Alicates de punta curvada 
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Su boca es curvada.
        %def Se utilizan para doblar alambres en ángulos.
        %def Permite fijar elementos en lugares poco accesibles.

    %concept
        %names Alicates de corte 
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Su boca es cortante.
        %def Su boca está formada por dos dientes afilados.
        %def Se utilizan para cortar alambres y cables.
        %def Los más pequeños se utilizan para operaciones de corte de precisión.
        %def Se utilizan para cortas las patillas sobrantes de los componentes de una placa de circuito impreso.

    %concept
        %names Alicates Seeger
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Sirven para colocar y retirar anillos de retención (arandelas).
        %def Su boca tiene dos dientes puntiagudos que se insertan en los agujeros de la arandela.
        %table{ fields: 'tipos' }
            %row Exteriores
            %row Interiores

    %concept
        %names Arandela Seeger, Anillos Circlip.
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Anillo de retención que se coloca en un eje para evitar que una pieza se deslice.
        %def Se utilizan como sujeción, sobre todo en partes móviles (motores, ...).
        %def Tienen agujeros en ambos extremos para su fijación.


        