%map{ lang: 'es', context: 'destornilladores', version: '1' }

  %concept
    %names Destornillador
    %tags herramienta, manual, apretar, tornillos
    %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
    %table{ fields: 'partes' }
      %row Mango
      %row Vástago
      %row Cabeza
    %table{ fields: 'tipos' }
      %row Plano
      %row Estrella
      %row Torx
      %row Hexagonal

  %concept
    %names Mango 
    %tags herramienta, manual, destornillador, agarre
    %def Parte del destornillador que se agarra con la mano para poder utilizarla.
    %def Es donde se ejerce la fuerza para apretar o aflojar los tornillos.
    %table{ fields: 'tipos' }
      %row Rígido
      %row Flexible
      %row Horizontal o en T 
      %row Buscapolos

  %concept
    %names Vástago
    %tags herramienta, manual, destornillador, tornillos
    %def Parte del destornillador que se introduce en la cabeza del tornillo.
    %def Es la parte que transmite la fuerza al tornillo.    
    %def Puede ir aislado para evitar descargas eléctricas.
    %table{ fields: 'tipos' }
      %row Largo
      %row Corto
      %row Grueso
      %row Fino
      %row Aislado
    
  %concept
    %names Cabeza
    %tags herramienta, manual, destornillador, tornillos
    %def Parte del destornillador que se introduce en la cabeza del tornillo.
    %def Es la parte que transmite la fuerza al tornillo. 
    %def Debe ser compatible con la cabeza del tornillo.   
    %table{ fields: 'tipos' }
      %row Plana
      %row Estrella Phillips
      %row Estrella Pozidriv
      %row Torx
      %row Torx de seguridad
      %row Hexagonal
      %row Doble cuadrado 
      %row Tri-Wing 
      %row Spanner
      %row Doble estrella

  %concept
    %names Magnetizador
    %tags herramienta, manual, magnetizar, destornilladores
    %def Herramienta manual que se utiliza para magnetizar destornilladores.
    %def Se desliza la punta del destornillador por el magnetizador para magnetizarlo.
    %table{ fields: 'ventajas' }
      %row Facilita la colocación de tornillos.
      %row Evita que los tornillos se caigan.
      %row Aumenta la fuerza de sujeción.
      %row Agilizamos el trabajo.

  %concept
    %names Desmagnetizador
    %tags herramienta, manual, desmagnetizar, destornilladores
    %def Herramienta manual que se utiliza para desmagnetizar destornilladores.
    %def Se desliza la punta del destornillador por el desmagnetizador para desmagnetizarlo.

  %concept
    %names Destornillador eléctrico 
    %tags herramienta, eléctrica, apretar, tornillos
    %def Herramienta eléctrica que se utiliza para apretar o aflojar tornillos.
    %def Se utiliza en trabajos que requieren rapidez y precisión.
    %def Permite atornillar-desatornillar sin esfuerzo.
    %def Se puede regular la velocidad y el par de apriete.
    %def Tiene puntas y vástagos intercambiables.
    %def Hay taladros de mano que se pueden convertir en destornilladores eléctricos.
