%map{ lang: 'es', context: 'limas', version: '1' }

    %concept
        %names Lima 
        %tags herramienta, manual, limar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/refs/heads/main/asker/herramientas/images/lima_01.png
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/refs/heads/main/asker/herramientas/images/lima_02.jpg
        %def Herramienta manual que se utiliza para limar o desgastar materiales.
        %def Son de acero con superficie rugosa.
        %def Su superficie rugosa se llama picado.
        %def Se utilizan para dar forma a piezas de metal, madera o plástico.
        %table{ fields: 'picado, uso' }
            %row
                %col Fino
                %col Acabado y pulido
            %row
                %col Rugoso
                %col Desgaste
        %table{ fields: 'mango' }
            %row Plástico
            %row Madera
        %table{ fields: 'tipos' }
            %row Plana
            %row Redonda
            %row Triangular
            %row Cuadrada
            %row Media caña
        %table{ fields: 'partes' }
            %row Mango
            %row Espiga
            %row Cuerpo o picado
            %row Punta