%map{ lang: 'es', context: 'llaves', version: '1' }

    %concept
        %names Llave
        %tags herramienta, manual, apretar, tornillos
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
        %table{ fields: 'partes' }
            %row Mango
            %row Boca
        %table{ fields: 'tipos' }
            %row De boca fija 
            %row De boca ajustable
            %row De tubo
            %row De carraca

    %concept
        %names Llaves para tornillos
        %tags herramienta, manual, llave, tornillos
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
        %def Pueden sustituir a los destornilladores.
        %def Se pueden utilizar por ambos lados.
        %def Tienen forma de L o ángulo recto.
        %def No tienen mango.
        %def Útiles en lugares de difícil acceso.
        %table{ fields: 'tipos más comunes' }
            %row Allen (hexagonal)
            %row Torx

    %concept
        %names Llaves para sistemas tornillo-tuerca 
        %tags herramienta, manual, llave, tornillos, tuercas
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos y tuercas.
        %def Permite el ajuste de tornillos y tuercas de tipo hexagonal (6 lados).
        %def Se utilizan sobre todo en trabajos de mecánica y automoción.
        %def En electrónica se utilizan para ensamblar y desensamblar electrodomésticos.
        %table{ fields: 'tipos' }
            %row Fijas
            %row Ajustables

    %concept
        %names Llave de boca fija
        %tags herramienta, manual, llave, tornillos
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
        %def Sus bocas tienen una sola medida.
        %def Se utilizan en tornillos de cabeza hexagonal.
        %def Las más conocidas son las llaves de tipo plano.
        %def Suelen disponer de dos bocas abiertas con medidas contiguas en cada extremo.
        %def La medida de la boca se indica en milímetros.
        %def En un taller es aconsejable tener llaves de 3 a 17 milímetros.
        %def También hay llaves combinadas, con cara plana por un extremo y poligonal por el otro.

    %concept
        %names Llave de boca ajustable, Llave inglesa
        %tags herramienta, manual, llave, tornillos
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
        %def Su boca se puede ajustar a diferentes medidas de tuercas y tornillos.
        %def Se utilizan en tornillos de cabeza hexagonal.
        %def Dispone de un tornillo de ajuste que permite regular la apertura de la boca.
        %def Para trabajos eléctricos debe estar aislada.

    %concept
        %names Llave de tubo
        %tags herramienta, manual, llave, tornillos
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
        %def Se utilizan en tornillos de cabeza hexagonal.
        %def En cada extremo tiene una boca de diferente medida.
        %def Suele tener orificios para meter un pasador o barra para aumentar la fuerza y poder girar la llave.
        %def Se utilizan en trabajos de fontanería y mecánica.
        %def También se puede girar usando una llave plana o inglesa.
        %table{ fields: 'tipos' }
            %row De pipa
            %row De tubo

    %concept
        %names Llave de carraca
        %tags herramienta, manual, llave, tornillos
        %def Herramienta manual que se utiliza para apretar o aflojar tornillos.
        %def Se utilizan en tornillos de cabeza hexagonal.
        %def Dispone de un gatillo o palanca que permite cambiar el sentido de giro (apretar o aflojar).
        %def Permite apretar o aflojar tornillos sin tener que quitar la llave de la cabeza del tornillo.
        %def Los vástagos y las cabezas son intercambiables.
        %def Las cabezas pueden ser de vaso o de destornillador.
        
