%map{ lang: 'es', context: 'lupa-flexo', version: '1' }

    %concept
        %names Lupa-flexo
        %tags herramienta, manual, aumentar, ver, iluminar 
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/refs/heads/main/asker/herramientas/images/lupa-flexo_01.png
        %def Herramienta manual que se utiliza para aumentar el tama침o de objetos peque침os.
        %def Se instala en el banco de trabajo.
        %def Dispone de una lupa que incorpora iluminaci칩n.
        %def Permite movimientos en cualquier direcci칩n.
        %def Algunas tienen pinzas de cocodrilo para sujetar los componentes.
