%map{ lang: 'es', context: 'lupa-flexo', version: '1' }

    %concept
        %names Flexómetro, Metro, Cinta métrica 
        %tags herramienta, manual, medir, longitud
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/flexometro_01.jpg
        %def Cinta flexible graduada que se utiliza para medir longitudes.
        %def Se enrolla en un carrete.
        %def Se utiliza en trabajos de carpintería, albañilería, costura, etc.
        %def Existen de diferentes longitudes y anchuras.
        %def Algunos tienen un freno para bloquear la cinta.

    %concept
        %names Calibre, Pie de rey
        %tags herramienta, manual, medir, longitud, precisión
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/calibre_01.png
        %def Instrumento de medición que se utiliza para medir longitudes con gran precisión.
        %def Puede medir piezas pequeñas por y huecos.
        %def Tiene una escala graduada en milímetros y pulgadas.
        %def Dispone de un nonio para medir fracciones de milímetro.
        %def Algunos tienen un tornillo de ajuste (freno) para fijar la medida.
        %def Puede tomar medidas del interior de piezas, del exterior y de profundidades.
        %def Tiene 3 bocas para pedir piezas pequeñas.
        %def Se desliza el nonio hasta que coincida con la escala principal.
        %table{ fields: 'partes' }
            %row Escala principal o regla de milímetros
            %row Escala secundaria o regla de pulgadas
            %row Nonio para milímetros
            %row Nonio para pulgadas
            %row Tornillo de ajuste del nonio (o botón de desplazamiento)
            %row Boca para medir exteriores
            %row Boca para medir interiores
            %row Varilla para medir profundidades

    %concept
        %names Micrómetro, Palmer
        %tags herramienta, manual, medir, longitud, precisión
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/micrometro_01.png
        %def Instrumento de medición que se utiliza para medir longitudes con gran precisión (centésimas).
        %def Se utiliza para medir piezas pequeñas sólo por su exterior.
        %def Funciona desplazando el tornillo micrométrico a través de una tuerca.
        %def El paso de vuelta suele ser de 0,5 mm.
        %def La precisión viene marcada por el avance del tornillo en cada vuelta completa (paso de rosca).
        %table{ fields: 'partes' }
            %row Tope
            %row Husillo
            %row Cuerpo
            %row Tambor fijo
            %row Seguro
            %row Nonio
            %row Tambor móvil
            %row Trinquete




