%map{ lang: 'es', context: 'pinzas', version: '1' }

    %concept
        %names Pinzas
        %tags herramienta, manual, cortar, doblar, sujetar
        %def Herramienta manual que se utiliza para sujetar y coger objetos.
        %def Las que tienen la eiqueta ESD son antiestáticas.
        %table{ fields: 'tipos'}
            %row Rectas 
            %row Curvas
            %row De puntas
            %row De palas
            %row Cruzadas
            %row De metal
            %row De plástico
            %row Aisladas