%map{ lang: 'es', context: 'taladros', version: '1' }

    %concept 
        %names Taladro
        %tags herramienta, eléctrica, perforar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/taladro_01.jpg
        %def Herramienta eléctrica que se utiliza para perforar agujeros en materiales.
        %def Puede hacer orificios de distintos tamaños y en distintos tipos de materiales.
        %def Debe ir perpendicular a la superficie a perforar.
        %def Tiene un tope de seguridad para evitar que taladremos demasiado.

    %concept
        %names Taladro de columna, Taladro de sobremesa 
        %tags herramienta, eléctrica, perforar, precisión, mesa, banco
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/taladro_columna_01.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/taladro_columna_02.jpg
        %def Taladro que se fija a una mesa o banco de trabajo.
        %def Se utiliza para hacer orificios de gran precisión en piezas pequeñas.
        %def Mediante la palanca de desplazamiento hacemos bajar la broca hasta la pieza.
        %def Tiene una mesa de taladrado que se puede ajustar en altura y en inclinación.
        %def Se utiliza para perforar placas de circuito impreso.
        %table{ fields: 'partes' }
            %row Portabrocas
            %row Motor eléctrico
            %row Palanca de desplazamiento vertical
            %row Regulador de altura
            %row Mesa de taladrado

    %concept
        %names Taladro de mano
        %tags herramienta, eléctrica, de mano, perforar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/taladro_mano_01.png
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/taladro_mano_02.jpg
        %def Es portátil y se utiliza para perforar agujeros en materiales.
        %def Se sujeta con una mano y con la otra se acciona el gatillo.
        %def Tiene un portabrocas para sujetar la broca.
        %def Se puede regular la velocidad de giro.
        %def Se utiliza para hacer agujeros en madera, metal, plástico, etc.
        %def Se puede utilizar con brocas de distintos diámetros.
        %def Pueden tener un inversor de giro y un conmutador del percutor.
        %def Algunos se pueden utilizar como destornillador eléctrico.
        %def Algunos tienen batería recargable y otros se conectan a la red eléctrica por cable.
        %table{ fields: 'partes' }
            %row Gatillo o pulsador
            %row Portabrocas
            %row Mango auxiliar
            %row Mango principal
            %row Regulador de velocidad
            %row Botón de bloqueo

    %concept
        %names Broca
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/broca_01.jpg
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/broca_02.jpg
        %def Elemento cortante que se utiliza en el taladro para perforar materiales.
        %def Puede ser de distintos materiales y formas.
        %def Se sujeta en el portabrocas del taladro.
        %def Se puede afilar para prolongar su vida útil.
        %def Se puede utilizar con distintos tipos de taladros.
        %def Se puede utilizar con distintos tipos de materiales.
        %def Se identifican por su diámetro (en milímetros) y longitud.
        %table{ fields: 'tipos' }
            %row Widia (de pared)
            %row Madera
            %row Metal
        
    %concept
        %names Gafas de protección 
        %tags protección, visual, seguridad, taladrar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/main/asker/herramientas/images/gafas_proteccion_01.jpg
        %def Gafas que protegen los ojos de partículas, polvo, virutas, etc.
        %def Se utilizan cuando se taladra, se corta, se lija, etc.
        %def Pueden tener lentes transparentes, de color, polarizadas, etc.
        %def Pueden tener protección lateral y superior.
        %def Pueden tener protección UV.
        %def Pueden tener protección antiempañante.        
