%map{ lang: 'es', context: 'tijeras', version: '1' }

    %concept
        %names Tijeras
        %tags herramienta, manual, cortar, pelar
        %def{:type => 'image_url'} https://cloud.nws-tools.de/media/thumb/58d900b999b131.44277253?f=16
        %def Herramienta manual que se utiliza para pelar o cortar materiales y cables.
        %def Pueden tener una muesca para pelar cables.
        %def Es recomedable que su mango esté aislado para trabajos eléctricos.
        %def Con ellas se puede puntear, que es utilizar sólo la punta para cortar con precisión.

