%map{ lang: 'es', context: 'tijeras', version: '1' }

    %concept
        %names Tijeras
        %tags herramienta, manual, cortar, pelar
        %def{:type => 'image_url'} https://raw.githubusercontent.com/iyc-eql/iyc-eql.github.io/refs/heads/main/asker/herramientas/images/tijeras_01.jpg
        %def Herramienta manual que se utiliza para pelar o cortar materiales y cables.
        %def Pueden tener una muesca para pelar cables.
        %def Es recomedable que su mango esté aislado para trabajos eléctricos.
        %def Con ellas se puede puntear, que es utilizar sólo la punta para cortar con precisión.

