%map{ lang: 'es', context: 'tornillo de banco', version: '1' }

    %concept
        %names Tornillo de banco
        %tags herramienta, manual, apretar, sujetar
        %def{:type => 'image_url'} https://laherramientabalear.com/web/image/product.template/284659/image_256/%5BBA834V2%5D%20TORNILLO%20DE%20BANCO%20PORT%C3%81TIL%20BAHCO%20834V-2?unique=a2b396c
        %def{:type => 'image_url'} https://laherramientabalear.com/web/image/product.template/290898/image_256/%5BIR1ZR%5D%20TORNILLO%20BANCO%20RECORD%2075?unique=a2b396c
        %def{:type => 'image_url'} https://cdn.icon-icons.com/icons2/1047/PNG/256/Vise_icon-icons.com_76545.png
        %def Herramienta manual que se utiliza para sujetar piezas de trabajo.
        %def Se fija a una mesa o banco de trabajo.
        %def Tiene una mordaza fija
        %def Tiene una mordaza móvil
        %def Se utiliza para sujetar piezas de trabajo para poder trabajar con ellas.
        %table{ fields: 'tipo, instalación' }
            %row 
                %col Fijo
                %col Atornillado al banco
            %row 
                %col Móvil
                %col Tienen un sargento para fijarlos al banco
